StudentTracker/Service References/StudentTrackerService/StudentTrackerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55891/StudentTrackerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentTrackerService" />
  <xs:import schemaLocation="http://localhost:55891/StudentTrackerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentTracker.Domain.Entities" />
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetCoursesResult" nillable="true" type="q1:ArrayOfCourseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentTracker.Domain.Entities" minOccurs="0" name="entity" nillable="true" type="q2:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="students" nillable="true" type="q3:ArrayOfRawStudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="studentsRawInformation" nillable="true" type="q4:ArrayOfRawStudentInfo" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetRecordsResult" nillable="true" type="q5:ExcelDocumentImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetStudentResult" nillable="true" type="q6:StudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetStudentsResult" nillable="true" type="q7:ArrayOfStudentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetStudentsCoursesResult" nillable="true" type="q8:ArrayOfStudentCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyForCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStudentFullNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsSex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsSexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStudentsSexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUiColours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUiColoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetUiColoursResult" nillable="true" type="q9:UiSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUiColoursByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUiColoursByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/StudentTrackerService" minOccurs="0" name="GetUiColoursByNameResult" nillable="true" type="q10:UiSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUiColours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backgroundColour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headerColour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUiColoursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>